@font-face {
    font-family: Camagru;
    src: url(font/camagru.otf);
}
@font-face {
    font-family: Camagru-2;
    src: url(font/camagru-2.otf);
}
body {
    background-color : darkgrey;
    font-family: Camagru-2, sans-serif;
    font-kerning: normal;
    font-weight: 100;
    color: white;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}
.contener {
    width: 100%;
    height: 100%;
}

.header #title {
    margin-right: 3vw;
    text-overflow: clip;
    text-overflow: ellipsis;
    text-overflow-ellipsis: "!!!";
}
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation : portrait) {
    body {
        font-size: 3.5vmax;
    }
    .header {
        width: 100%;
        min-width: 320px;
        height: 15vh;
        float: left;
        margin: 0;
    }
    .header .img{
        height: 13vmin;
        margin: 0.8vh 1vw 0.5vh;
    }
    .header img{
        height: 13vh;
    }
    .main {
        width: 100vw;
        height: 66.25vw;
        float: left;
        margin: 0;
    }
    .sidebar {
        width: 100vw;
        height: 66.25vw;
        float: right;
        margin: 0;
    }
    .footer {
        width: 100%;
        height: 10vh;
        float: left;
        text-align: center;
        margin: 0;
    }
    #canvas {
        height: 56.25vw;
    }
    #videoElement {
        height: 56.25vw;
    }
}
@media only screen and (min-device-width : 375px) and (max-device-width : 732px) and (orientation : landscape) {
    body {
        font-size: 3.5vmax;
    }
    .header {
        width: 100%;
        min-width: 320px;
        float: left;
        line-height: 13vh;
        height: 15vh;
        margin: 0;
    }
    .header .img{
        height: 7vmin;
        margin: 0.8vh 1vw 0.5vh;
    }
    .header img{
        height: 7vmax;
    }
    .main {
        width: 80vw;
        height: 55vw;
        float: left;
        padding: 0;
        margin: 0;
    }
    .sidebar {
        width: 18vw;
        height: 55vw;
        float: right;
        margin:0;
    }
    .footer {
        width: 100%;
        height: 10vh;
        float: left;
        text-align: center;
        margin:0;
    }
    #canvas {
        height: 45vw;
    }
    #videoElement {
        height: 45vw;
    }
}
@media only screen and (min-device-width: 733px) {
    body {
        font-size: 3vmax;
    }
    .header {
        width: 100%;
        min-width: 320px;
        height: 15vh;
        float: left;
        margin: 0;
    }
    .header .img{
        height: 12vh;
        margin: 1.5vh 2vw 0.5vh 0;
    }
    .header img{
        height: 11vmin;
    }
    .main {
        width: 80vw;
        height: 55vw;
        float: left;
        margin: 0;
    }
    .sidebar {
        width: 18vw;
        float: right;
        height: 55vw;
        margin: 0;
    }
    .footer {
        width: 100%;
        height: 10vh;
        float: left;
        text-align: center;
        margin: 0;
    }
    #canvas {
        height: 45vw;
    }
    #videoElement {
        height: 45vw;
    }
}
@media tv {

}

h1 {
    font-family: Camagru, "Helvetica-Neue", "Helvetica", "Arial", sans-serif;
    color: white;
    font-weight: 200;
    font-size: 16vmin;
    line-height: 12vmin;
    height: 13vmin;
    margin: -0.5vh 0 0.5vh 0;
    display: inline-block;
    text-overflow: clip;
    text-overflow: ellipsis;
    text-overflow-ellipsis: "!!!";
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: hotpink;
    text-decoration: none;
}
.stick-right {
    margin: 2vh 2vw;
    float: right;
    display: inline-block;
    line-height: 100%;
}
.centered {
    display: inline-block;
    float: left;
    width: 100vw;
}
input {
    padding-left: 2vw;
    width: 100%;
    border: none;
    border-top: 3vh solid darkgrey;
    color: darkgrey;
    background-color: white;
    font-size: inherit;
    font-family: inherit;
 }
input:hover {
    padding-left: 2vw;
    background-color: hotpink;
    border: none;
    border-top: 3vh solid darkgrey;
    color: white;
}
input:focus {
    padding-left: 2vw;
    background-color: hotpink;
    border: none;
    border-top: 3vh solid darkgrey;
    color: white;
}
a .form:hover {
    background-color: hotpink;
}
.form {
    padding-left: 4vw;
    margin-top: 4vh;
    width: 100%;
    border: none;
    border-top: 3vh solid darkgrey;
    color: darkgrey;
    background-color: white;
    font-size: inherit;
    font-family: inherit;
    box-sizing: content-box;
}
.form .alert {
    color: crimson;
}
.form .green {
    color: aqua;
}
#videoFallback {
    overflow: hidden;
    width: 100%;
}
#videoElement {
    width: 100%;
}
#canvas {
    width: 100%;
}
#snap {
    width: 100%;
    height: 5vw;
    font-size: 4vw;
    line-height: 5vw;
}
.hidden {
    display: none;
}
.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: hotpink;
    color: white;
}

.inputfile-1 + label {
    color: darkgrey;
    background-color: white;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    padding-left: 2vw;
    width: 100%;
    border: none;
    border-top: 3vh solid darkgrey;
    color: darkgrey;
    background-color: white;
    font-size: inherit;
    font-family: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0;
    padding-left: 2vw;
    /* 0.625rem 1.25rem 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

/* cama preview styling */

#cama_model {
    display: none;
}

.cama_preview {
    margin: 0 0;
    width: 100%;
    display: inline-block;
    float: right;
    padding: 0 0 15px 0;
}

.cama_preview img {
    height: 100%;
    overflow: hidden;
    z-index: 5;
}

.cama_img {
    z-index: 5;
}

.cama_delete {
    position: relative;
    top: -10vw;
    width: 100%;
    height: 100%;
    z-index: 99;
    text-align: center;
    line-height: 100%;
}

.cama_delete:hover {
    cursor: hand;
    background-color: rgba(255, 0, 0, 0.2);
}

.cama_like {
    position: relative;
    top: -10vw;
    width: 100%;
    height: 100%;
    z-index: 99;
    text-align: center;
    line-height: 100%;
}

.cama_like:hover {
    cursor: hand;
    background-color: rgba(255, 105, 180, 0.2);
}